<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!-- Chrome, Firefox OS and Opera Status Bar Color -->
<meta name="theme-color" content="#FFFFFF">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.11.1/katex.min.css">
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css">
<link rel="stylesheet" type="text/css" href="css/SourceSansPro.css">
<link rel="stylesheet" type="text/css" href="css/theme.css">
<link rel="stylesheet" type="text/css" href="css/notablog.css">
<!-- <script async defer data-website-id="964cbc36-10f6-4024-aa0e-2ecce146a2b0" src="https://umami.irithys.com/thymi.js"></script> -->
<script defer data-domain="epoch.irithys.com" src="https://analytics.irithys.com/js/plausible.js"></script>
<script async defer data-website-id="e32a629a-d1cc-47e4-ab9e-8e9109796a7c" src="https://umami.irithys.com/ thymi.js"></script>
<!-- Favicon -->
<% if (favicon) { %>
  <link rel="shortcut icon" href="<%= favicon %>">
<% } %>
<style>
  :root {
    font-size: <%= fontSize %>px;
  }
</style>